* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: 0.2;
}
.large {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.small {
  font-size: 17px;
  color: #161616a9;
}
body {
  background: #272c2c;
}
.menu-toggle {
  position: fixed;
  z-index: 9999;
  right: 5%;
  top: 4rem;
  width: 2rem;
  height: 2rem;
  /* background: red; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
}
.menu-toggle.active {
  transform: rotate(-180deg);
}

.menu-toggle span {
  background: #ffffff;
  width: 100%;
  height: 3px;
}
.menu-toggle.menu-toggle.active span:nth-child(1) {
  position: absolute;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-toggle.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.menu-toggle.active span:nth-child(3) {
  position: absolute;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* nav */

nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}
.nav.active {
  pointer-events: auto;
}
.nav-left {
  position: relative;
  z-index: 10;
  left: -50%;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: #ffffff;
  transition: 0.8s;
}
.nav-left.active {
  left: 0;
  transition: 0.5s;
}
.nav-left ul {
  position: relative;
  top: 35%;
  left: 10%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
.nav-right {
  position: absolute;
  z-index: 9;
  left: -50%;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: #000000;
  transition: 0.8s;
}
.nav-right.active {
  left: 50%;
  transition: 0.5s;
}
.nav-link {
  opacity: 0;
  position: relative;
  left: -10%;
}
.nav-link.active {
  opacity: 1;
  /* position: relative; */
  transition: 0.5s;
  left: 0;
}

.contact {
  position: absolute;
  opacity: 0;
  bottom: 10%;
  left: 0;
  pointer-events: none;
}
.contact.active {
  opacity: 1;
  left: 10%;
  transition: 0.5s;
}
.logo {
  position: fixed;
  top: 4rem;
  left: 5%;
  z-index: 100;
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  pointer-events: none;
  transition: 1s;
}
.logo.active {
  color: #000000;
}
.welcome {
  color: rbg(255, 255, 255);
  position: relative;
  left: 5%;
  top: 30vh;
  width: 40%;
  text-transform: uppercase;
}
p {
  color: aqua;
  font-size: 20px;
  margin-top: 1rem;
}
.button {
  position: relative;
  z-index: 1;
  color: white;
  border: 1px solid white;
  left: 5%;
  top: 35vh;
  width: 7.5rem;
  padding: 0.2rem;
  text-align: center;
  transition: 0.5s;
  height: 45px;
}
.button:hover {
  cursor: pointer;
  background-color: white;
  color: #272c2c;
  transition: 0.5s;
}
.img {
  position: absolute;
  left: 50%;
  top: 10vh;
  height: 400px;
}
img {
  height: 100%;
  filter: grayscale(40%);
}
.explore {
  position: absolute;
  text-align: center;
  background: black;
  cursor: pointer;
  color: white;
  padding: 1.5rem;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 20%;
}
.explore:hover {
  opacity: 0.6;
}
.para-graph {
  color: aqua;
  font-size: 20px;
}
.graph-route {
  margin-top: 300px;
  /* margin-left: 40px; */
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.route1 {
  height: 100%;
  width: 50%;
}
.route2 {
  height: 350px;
  width: 500px;
  border: 2px black solid;
}
